.container {
  height: 600px;
  width: 1300px;
  margin: auto;
  border: 4px solid black;
  display: flex; 
  position: relative;
}

.bomb {
  height: 140px; 
  width: 140px; 
  border-radius: 100%; 
  background-color: green; 
  justify-content: center;
  align-items: center;
  display: flex; 
  position: absolute;
  transition: all .5s ease-in-out;
}

.obstacle {
  height: 100px; 
  width: 100px; 
  border-radius: 100%; 
  background-color: red; 
  justify-content: center;
  align-items: center;
  display: flex; 
  position: absolute;
}

.transition {
  animation: explosion 1s both; 
}

.counter {
  font-size: 30px;
  color: green;
  text-align: center;
  width: 50%;
  margin: auto; 
}


@keyframes explosion {
  from {
    background-color: green;
  }
  to {
    background-color: red; 
    height: 100px;
    width: 100px; 
  }
}

.endAnim {
  animation: endAnim 1.5s both;
}

@keyframes endAnim {
  from {
    background-color: white;
  }
  to {
    background-color: red; 
  }

}



