* {
  margin: 0; 
  padding: 0; 
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style-type: none;
}

.scoreSection {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 30%; 
  margin: 20px; 
}

.scoreContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.scoreContainer:first-child {
  border-right: 2px solid lightgrey; 
}

.scoreContainer:nth-child(2) {
  flex: 1.5; 
}

.counterHeader {
  font-size: 25px;
  color: green;
}

.counter {
  color: green;
  font-size: 20px; 
}

.gameContainer {
  height: 600px;
  width: 1300px;
  margin: auto;
  display: flex; 
  position: relative;
  background-color: lightblue;
}

.bomb {
  height: 140px; 
  width: 140px; 
  background: transparent url("../img/shrimp.png") no-repeat center center;
  background-size: contain; 
  justify-content: center;
  align-items: center;
  display: flex; 
  position: relative;
  transition: all .5s ease-in-out;
}

.bombText {
  position: absolute;
  top: -30px;
  font-size: 25px; 
  color: green;
}

.obstacle {
  height: 100px; 
  width: 100px; 
  border-radius: 100%; 
  background-color: red; 
  justify-content: center;
  align-items: center;
  display: flex; 
  position: absolute;
}


/****************** KEYFRAMES ******************/

.transition {
  animation: explosion 1s both; 
}

@keyframes explosion {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.5);
  }
/*  to {
    transform: scale(.5);
  }*/
}

.death {
  animation: death .5s both;
}

@keyframes death {
  from {
    background: transparent url("../img/shrimp.png") no-repeat center center;
    background-size: contain; 
    transform: scale(.5);
  }
  to {
    background: transparent url("../img/ghost.png") no-repeat center center;
    background-size: contain;
    transform: scale(1);
  }
}

.endAnim {
  animation: endAnim 1.5s both;
}

@keyframes endAnim {
  from {
    background-color: lightblue;
  }
  to {
    background-color: red; 
  }

}



