* {
  margin: 0; 
  padding: 0; 
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style-type: none;
}

.scoreSection {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 30%; 
  margin: 20px; 
}

.scoreContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.scoreContainer:first-child {
  border-right: 2px solid lightgrey; 
}

.scoreContainer:nth-child(2) {
  flex: 1.5; 
}

.counterHeader {
  font-size: 25px;
  color: green;
}

.counter {
  color: green;
  font-size: 20px; 
}

.gameContainer {
  height: 600px;
  width: 100%;
  margin: auto;
  display: flex; 
  position: relative;
  background: url("../img/bg.png") no-repeat center 100%;
  background-size: cover;
}

.bomb {
  height: 140px; 
  width: 140px; 
  background: transparent url("../img/shrimp.png") no-repeat center center;
  background-size: contain; 
  justify-content: center;
  align-items: center;
  display: flex; 
  position: absolute;
  transition: all .5s ease-in-out;
}

.bombText {
  position: absolute;
  top: -30px;
  font-size: 25px; 
  color: green;
}

.textAnim {
  color: red; 
  right: -60px;
  top: 0; 
  transform: rotate(90deg);
}

/*.obstacle {
  height: 100px; 
  width: 100px; 
  border-radius: 100%; 
  background-color: red; 
  justify-content: center;
  align-items: center;
  display: flex; 
  position: absolute;
}*/


/****************** KEYFRAMES ******************/

.transition {
  animation: explosion 1s forwards; 
}

@keyframes explosion {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.5);
  }
}

.death {
  /*animation: death 1s forwards 1; */
  animation: death .5s forwards;
  
}
.float {
  animation: float 2s .3s infinite; 
}

@keyframes float {
  0% {
    margin-top : 0px;
  }
  50% {
    margin-top : 30px;
  }
  100% {
    margin-top : 0px;
  }
}




